:root {
  --background-color: #fff;
  --text-color: #000;
  --text-accent-color: #666;
  --accent-color: #2c2c2c;
  --accent-hover-color: #8e969e;
  --border-color: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--border-color);
  color: var(--text-color);
}

.container {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.container p {
  font-size: 1rem;
  color: var(--text-accent-color);
  margin-bottom: 2rem;
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding: 0;
}

.timeline:before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--text-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.item {
  margin-bottom: 20px;
  position: relative;
  width: calc(50% + 1px);
  padding-right: 20px;
  text-align: right;
}

.item .date {
  font-size: 0.9rem;
  color: var(--text-accent-color);
}

.item .content {
  font-size: 1rem;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: inline-block;
}

.item:nth-child(even) {
  left: calc(50% - 1px);
  text-align: left;
  padding-left: 20px;
  padding-right: 0;
}

.item:nth-child(even) .content {
  margin-left: 0;
  padding-left: 0;
}

.item:nth-child(odd) .content {
  padding-right: 0;
}

.item:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: -4px;
  background-color: var(--text-color);
  border-radius: 50%;
  top: 10px;
}

.item:nth-child(even):before {
  left: -4px;
  right: auto;
}

.button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 20px;
}

.button:hover {
  background-color: var(--accent-hover-color);
}
